@import url(http://fonts.googleapis.com/css?family=Lato);

@media (min-width: 1920px) {
	body {
		background: #fff;
		margin-top: 5em;
		font-family: "Lato";
	}

	::selection {
		color: #fafafa;
		background: #7fb3e6;
	}

	::-moz-selection {
		color: #fafafa;
		background: #7fb3e6;
	}

	#header {
		position: fixed;
		background: rgba(255, 255, 255, 0.8);
		top: 0;
		left: 0;
		width: 100%;
		height: 4em;
		border-bottom: 1px solid #ddd;
	}

	#header h1 {
		font-weight: 400;
		font-size: 40px;
		color: rgba(0, 0, 0, 0.77);
		position: absolute;
		top: 6px;
		left: 1em;
		margin: 0;
	}

	#menu {
		position: absolute;
		top: 6px;
		right: 3em;
		list-style: none;
	}

	#menu li {
		display: inline;
		margin-right: 1em;
	}

	#menu li:after {
		content: "//";
		margin-left: 1em;
		color: rgba(0, 0, 0, 0.5);
	}

	#menu li:last-of-type {
		margin-right: 0;
	}

	#menu li:last-of-type:after {
		margin-left: 0;
		content:  "";
	}

	#menu li a {
		text-decoration: none;
		color: rgba(0, 0, 0, 0.76);
	}

	#content {
		margin: 0 15%;
	}

	.box {
		border: 1px solid #ddd;
		width: 31.6%;
		height: 396px;
		display: inline-block;
		margin: 0 2% 48px 0;
	}

	.box:nth-of-type(3n+3) {
		margin-right: 0;
	}

	.box .pic {
		background-position: center;
		width: 100%;
		height: 50%;
		background-color: #eee;
	}

	.trccplayer { background: url(https://raw.githubusercontent.com/ventos/trccplayerforfirefox/master/doc/screenshot.png); }

	.box h3 {
		text-align: center;
		font-weight: lighter;
		font-size: 1.5em;
	}
	.box h3 a {
		text-decoration: none;
		color: #2165a7;
	}

	.box #description {
		margin: 0 7%;
		text-align: justify;
	}

	@keyframes hoverborder {
		from {
			margin-bottom: 48px;
			border-bottom: 1px solid #ddd;
		}
		to {
			margin-bottom: 46px;
			border-bottom: 3px solid #7fb3e6;
		}
	}

	.box:hover {
		animation: hoverborder 200ms;
		border-bottom: 3px solid #7fb3e6;
		margin-bottom: 46px;
	}

	#footer {
		font-family: "Lato";
		margin: 0 15%;
	}
}
